# tuple

In [2]:
t=()
print(t)

()

In [3]:
type(t)

tuple

In [4]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [5]:
t1=("hi",9.0,3)

In [8]:
t1[1]=10
print(t1)

TypeError: 'tuple' object does not support item assignment

In [13]:
 l=[8,9.0]
l[1]=10

print(tuple(l))

(8, 10)

In [9]:
t2=(45,22,34,56,22)
print(t2.count(22))

2

In [10]:
print(t2.index(56))

3

In [12]:
g=("python",9.0,8)
print(list(g))

['python', 9.0, 8]

# dictionary
                it is collection,orderable and changeble,mutable
                dictionary is a key value pair

In [16]:
d={"hi":1,9.0:2,"python":34}
print(d)

{'hi': 1, 9.0: 2, 'python': 34}

In [18]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [20]:
d["hi"]

1

In [23]:
d={"hi":1,9.0:2,"python":34,9:2}
print(d[9])

2

In [34]:
y={"c":78,"hlo":{6,56,78},"hi":345}
print(y["hi"])
print(min(y))

345
c

In [35]:
print(min(y))

c

In [36]:
print(max(y))

hlo

In [37]:
print(len(y))

3

In [38]:
print(sum(y))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [41]:
d3={6:45,9:6,90:456,45:3.8}
print(sorted(d3))

[6, 9, 45, 90]

In [42]:
d3["age"]=45
d3

{6: 45, 9: 6, 90: 456, 45: 3.8, 'age': 45}

In [43]:
d3["age"]=40
d3

{6: 45, 9: 6, 90: 456, 45: 3.8, 'age': 40}

In [44]:
d3.get("age")

40

In [47]:
print(d3["age"])

40

In [49]:
d3["age"]

40

In [51]:
d3.keys()

dict_keys([6, 9, 90, 45, 'age'])

In [52]:
d3.values()

dict_values([45, 6, 456, 3.8, 40])

In [53]:
d3.items()

dict_items([(6, 45), (9, 6), (90, 456), (45, 3.8), ('age', 40)])

In [54]:
d3.keys(6)

TypeError: keys() takes no arguments (1 given)

In [62]:
d3.update({6:44})
d3

{6: 44, 9: 6, 90: 456, 45: 3.8, 'age': 40}

In [63]:
y

{'c': 78, 'hlo': {6, 56, 78}, 'hi': 345}

In [67]:
y.clear()

In [68]:
print(y)

{}

In [69]:
d3.popitem()

('age', 40)

In [72]:
d3.pop(6)

44

In [74]:
d3={6:45,9:6,90:456,45:3.8}
print(d3)
d3.fromkeys("python",45)

{6: 45, 9: 6, 90: 456, 45: 3.8}

{'p': 45, 'y': 45, 't': 45, 'h': 45, 'o': 45, 'n': 45}

In [75]:
print(d3)

{6: 45, 9: 6, 90: 456, 45: 3.8}

In [77]:
d3.fromkeys("123",45)

{'1': 45, '2': 45, '3': 45}

In [80]:
print(d3)
d3.update({6:44})

{6: 44, 9: 6, 90: 456, 45: 3.8}

In [82]:
d4=d3.copy()
print(d4)

{6: 44, 9: 6, 90: 456, 45: 3.8}

In [92]:
n=int(input())
d={}
sum=0
s=0
for i in range(1,n+1):
    d[i]=i**2
print(d)
for i in d.keys():
    sum=sum+i
print(sum)
for i in d.values():
    s=s+i
print(s)

5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
15
55

In [93]:
p={'a':8,'b':5,'c':4,'d':67,'e':88,'f':45,'g':17}
count=0
c=0
for i in p.values():
    if(i%2==0):
        c=c+1
    else:
        count=count+1
print("even numbers count:",c)
print("odd numbers count:",count)

even numbers count: 3
odd numbers count: 4

In [98]:
sen=input()
d={}
for i in sen:
    if i not in d:
            d[i]=1
    else:
        d[i]=d[i]+1
print(d)

w3schools
{'w': 1, '3': 1, 's': 2, 'c': 1, 'h': 1, 'o': 2, 'l': 1}

# SETS
            SET is a colection of unordered and unindexed
            doesn't contain duplicate values

In [99]:
s={5,6,"hi"}

In [100]:
s

{5, 6, 'hi'}

In [101]:
type(s)

set

In [1]:
s={2,3,6,78,9,5,3}
print(len(s))
print(max(s))
print(min(s))
print(sorted(s))
print(sum(s))

6
78
2
[2, 3, 5, 6, 9, 78]
103

In [108]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [4]:
s={2,3,6,78,9,5,3}
s1={2,3,4,5,6,7}
s.difference(s1)

{9, 78}

In [5]:
s.union(s1)

{2, 3, 4, 5, 6, 7, 9, 78}

In [6]:
s.intersection(s1)

{2, 3, 5, 6}

In [9]:
s1={2,3,4,5,6,7}
s1.add(34)
print(s1)

{2, 3, 4, 5, 6, 7, 34}

#